<ion-card style="width: 80%">

    <ion-row class="ion-align-items-start">
        <ion-col size="3">
            <ion-item><img src="../../../assets/img/car_placeholder_img.png"></ion-item>
        </ion-col>
        <ion-col>
            <ion-item><h2>Route Id</h2></ion-item>
        </ion-col>

        <ion-col size="2">
            <ion-item>
                <ion-label>Status:</ion-label>
                <ion-select interface="popover" placeholder="aktuell">
                    <ion-select-option value="pending">wartend</ion-select-option>
                    <ion-select-option value="shipping">liefernd</ion-select-option>
                    <ion-select-option value="complete">fertig</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>von: {{shipment.start}} </ion-item>
        </ion-col>

        <ion-col>
            <ion-button [id]="shipment.id" (click)="openEditModal(shipment.id)">Edit</ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" [id]="shipment.id" (click)="delete(shipment.id)">Delete</ion-button>
        </ion-col>
    </ion-row>
    <!-- <ion-item color="dark"> </ion-item> -->
    <ion-row>
        <ion-col>
            <ion-item>mit : {{shipment.vehicle.name}} </ion-item>
        </ion-col>
        <ion-col size="2">
            <ion-item>
                <ion-badge> Mitfahrer: {{shipment.passengerList}}</ion-badge>
            </ion-item>
        </ion-col>
        <ion-col size="2">
            <ion-item>
                <ion-badge> Objekete: {{shipment.articleList}}</ion-badge>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>nach: {{shipment.goal}} </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>am: {{shipment.date}} </ion-item>
        </ion-col>
    </ion-row>

</ion-card>

