ion-content{
  --background: url("https://images.unsplash.com/photo-1545287072-e39ac363b3c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

img {
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  height: 57px;
}

.formRow {
  background: rgba(3, 3, 3, 0.8);
  border-radius: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}

.formControl {
  border: 2px solid lightgray;
  border-radius: 7px;
  padding-left: 1% !important;
  background-color: white;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

h3 {
  color: #fdfdfd;
  font-weight: bold;
}

#regBtn {
  --background: rgba(2, 92, 83, 0.9);
  --color: white;
}

#list {
  display: flex;
}
