<app-menu-header></app-menu-header>

<div class="ion-page" id="main-content">


<ion-header>
  <ion-toolbar>
    <img src="assets/CargoLogo.PNG" (click)="navigateToHome()">
    <ion-buttons slot="primary">
      <ion-button (click)="navigateToLogin()">Login</ion-button>
      <ion-button id="regBtn" (click)="navigateToRegister()">Registieren</ion-button>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="formRow">
    <ion-col size="1"></ion-col>
    <ion-col>
      <form class="form" [formGroup]="validationsForm" (ngSubmit)="search(validationsForm.value)">
        <ion-row>


          <ion-col>
            <ion-row>
              <h3 style="opacity: revert">von:</h3>
            </ion-row>

            <ion-row class="formControl">
              <ion-input type="text" required placeholder="Stadt, PLZ" formControlName="startAddress"></ion-input>
            </ion-row>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col>
            <ion-row>
              <h3 style="opacity: revert">nach:</h3>
            </ion-row>

            <ion-row class="formControl">
              <ion-input type="text" required placeholder="Stadt, PLZ" formControlName="toAddress"></ion-input>
            </ion-row>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col>
            <ion-row>
              <h3 style="opacity: revert">Datum:</h3>
            </ion-row>

            <ion-row class="formControl">
              <ion-input type="text" required placeholder="YYYY-MM-DD" formControlName="date"></ion-input>
            </ion-row>
          </ion-col>
         </ion-row>

        <ion-row>

          <ion-col>
            <ion-row>
              <h3 style="opacity: 1">Zu liefernder Artikel:</h3>
            </ion-row>

            <ion-row class="formControl">
              <ion-input type="text" required placeholder="Piano, Tisch, Eurpalette... etc." formControlName="article"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row>
              <h3 opacity="1">Gewicht der Lieferung:</h3>
            </ion-row>

            <ion-row class="formControl">
              <ion-input type="number" required placeholder="Gewicht in kg" formControlName="weight"></ion-input>
            </ion-row>
          </ion-col>
    </ion-row>

        <ion-row>

          <ion-col>
            <ion-row>
              <h3 style="opacity: revert">Maße der Lieferung</h3>
            </ion-row>

            <ion-row>
              <ion-col class="formControl">
                <ion-input type="text" required placeholder="Höhe" formControlName="height"></ion-input>
              </ion-col>
              <ion-col size="1"></ion-col>

              <ion-col class="formControl">
                <ion-input type="text" required placeholder="Breite" formControlName="length"></ion-input>
              </ion-col>
            </ion-row>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <ion-label class="text">zerbrechlich</ion-label>
            <ion-checkbox color="primary" [ngModel]="pallet"  formControlName="pallet" (ionChange)="pallet"></ion-checkbox>
          </ion-col>
          <ion-col>
            <ion-label class="text">stapelbar</ion-label>
            <ion-checkbox color="primary" [ngModel]="fragile" formControlName="fragile" (ionChange)="fragile"></ion-checkbox>
          </ion-col>

        </ion-row>


        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col size="3">
            <ion-button type="submit" expand="block" class="submit-btn">Angaben zu Objekt</ion-button>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
      </form>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
</div>
