<ion-header>
  <ion-toolbar>
    <img src="assets/CargoLogo.PNG">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <div>
          <ion-item class="ion-text-center"  lines="none" *ngIf="user">
            <ion-label color="primary">
              <h1>{{user.fName}} {{user.lName}}</h1>
              <h1><ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" [ngStyle]="{'color': getColor(num, user.rating)}"></ion-icon></h1>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-card *ngFor="let rating of ratings">
            <ion-card-header><ion-item lines="none">
              <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" [ngStyle]="{'color': getColor(num, rating.points)}"></ion-icon>
            </ion-item></ion-card-header>
            <ion-card-content>{{rating.description}}</ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
