<app-menu-header></app-menu-header>


<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <img src="assets/CargoLogo.PNG" (click)="navigateToHome()">
    <ion-buttons slot="primary">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <app-add-vehicle [holderId]="holderId" ></app-add-vehicle>
  <app-list-vehicle *ngFor="let vehicle of this.listVehicle" [vehicle]="vehicle"></app-list-vehicle>

</ion-content>
</div>