<!-- home.page.html -->
<ion-header [translucent]="true">
    <ion-toolbar color="dark
">
        <ion-title>
            <img alt="logo" height="40" src="./assets/CargoLogo.PNG">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


    <ion-card color="dark" style="height: 100%; width: 80%; margin: auto" >

        <ion-card-header>
            <ion-card-title >
                <h1><a>My</a> Routen</h1>
            </ion-card-title>
        </ion-card-header>


        <ion-label>
            <ion-fab-button (click)="openModal()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-label>


        <ion-card-content >
            <ion-card color="dark" style="width: 70%">

                <ion-row class="ion-align-items-start">
                    <ion-col size="3">
                        <ion-item color="dark"> <img src="../../../assets/img/car_placeholder_img.png" > </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="dark"> <h2>Route Id</h2> </ion-item>
                    </ion-col>
                   <ion-item color="dark">von: XY </ion-item>
                    <ion-col>
                        <ion-chip color="success">
                            <ion-label>Durchgeführt</ion-label>
                        </ion-chip>

                    </ion-col>
                    <ion-col>
                        <ion-button>Edit</ion-button>
                    </ion-col>
                </ion-row>

                <!-- <ion-item color="dark"> </ion-item> -->
                <ion-row>
                    <ion-col>
                        <ion-item color="dark">mit : Fahrzeug </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="dark" > <ion-badge color="success" (click)="openModal()"> Aufträge: 3</ion-badge> </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="dark">nach: XY </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="dark">am TT.MM.YYYY </ion-item>
                    </ion-col>


                </ion-row>

            </ion-card>


        </ion-card-content>


    </ion-card>

</ion-content>