  <ion-content class="padding" id="ion-content">
     <ion-grid>
       <ion-row>
         <ion-col>
           <ion-title>
             <ion-item detail="false" lines="none" >
               <ion-label class="ion-text-wrap">
                 <h1>Objekt von {{shipment.start}} nach {{shipment.goal}} schicken</h1>
                 <h2>am {{shipment.date | date: 'dd/MM/yyyy'}}</h2>
               </ion-label>

             </ion-item>
           </ion-title>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col size="1"></ion-col>
         <ion-col>
           <ion-item lines="none">
             <ion-avatar>
               <img src="assets/icon/avatar-yoda.png">

             </ion-avatar>
             <ion-label slot="end">
               <ion-text>

                 <ion-text>
                   <h2>für</h2>
                   <h1 id="price">{{this.price}}€</h1>
                 </ion-text>
               </ion-text>
             </ion-label>
           </ion-item>

           <ion-item lines="none">
             <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" [ngStyle]="{'color': getColor(num, user.rating)}"></ion-icon>
             <p *ngIf="user.rating === 0">Noch keine oder nicht genügend Bewertungen verfügbar</p>
           </ion-item>

           <ion-item button="true" lines="none">
             <ion-label class="ion-text-wrap"><h3>durch {{user.fName}} {{user.lName}} mit Fahrzeug {{shipment.vehicle.name}} verschicken.</h3>
             <h3>Voraussichtliche Lieferzeit: 4-5 Werktage.</h3>
             </ion-label>
           </ion-item>
         </ion-col>
       </ion-row>
       <ion-row id="payBtn">
        <ion-col></ion-col>
         <ion-col>

             <ion-button size="large" (click)="navigateToPaymentChoice(modalController)">Zahlungsmittel wählen</ion-button>

         </ion-col>
       </ion-row>

     </ion-grid>


  </ion-content>


