<ion-header>
  <ion-toolbar>
    <ion-title>Add a new Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-align-self-center>
  <ion-item>
    <ion-input placeholder="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="load"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="maxLoad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="volume"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="seats"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="maxSeats"></ion-input>
  </ion-item>

  <ion-button color="success" >save</ion-button>
  <ion-button color="danger">cancel</ion-button>
</ion-content>
