
.ionListItems {
  --padding-bottom: 5px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border: 2px solid rgba(2, 92, 83, 0.9);
  border-radius: 7px;
  padding-left: 2% !important;
}

