<ion-header>
  <ion-toolbar>
    <ion-title>Add a new Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-align-self-center>
  <ion-item>
    <ion-input type="text"placeholder="name"  [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="load" [(ngModel)]="load"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="maxLoad" [(ngModel)]="maxLoad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="volume" [(ngModel)]="volume"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="seats"  [(ngModel)]="seats"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="maxSeats"  [(ngModel)]="maxSeats"></ion-input>
  </ion-item>

  <ion-button color="success" (click)="saveModal()" >save</ion-button>
  <ion-button color="danger" (click)="dismissModal()">cancel</ion-button>
</ion-content>
