<ion-menu
        side="end"
        menuId="first"
        contentId="main-content"
>

  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToProfile()">Profil</ion-item>
      <ion-item >Sendungen</ion-item>
      <ion-item (click)="navigateToMangeVehicle()" >Fahrzeuge</ion-item>
      <ion-item (click)="navigateToRouteSearch()"  >Routensuche</ion-item>
      <ion-item (click)="navigateToTransportSearch()" >Transportsuche</ion-item>
      <ion-item (click)="navigateToSearchResult()">Suchergebnisse</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <img src="assets/CargoLogo.PNG" (click)="navigateToHome()">
    <ion-buttons slot="primary">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h1>Vorkasse</h1>
          <p class="subtitle">Sie zahlen einfach vorab und erhalten die Ware bequem und günstig bei Zahlungseingang nach Hause geliefert.</p>
        </ion-text></ion-label>
      <ion-checkbox color="primary"  slot="start"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox color="secondary"  slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">
          <ion-text>
            <h1>PayPal</h1>
            <img id="paypalImg" src="assets/PayPal-Logo.png">
            <p class="subtitle">Bezahlung per PayPal - einfach, schnell und sicher</p>
          </ion-text>
        </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox color="warning" slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h1>Barbezahlung</h1>
          <p class="subtitle">Sie zahlen einfach beim Vereinbarten Übergabepunkt</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-buttons>
    <ion-button>
      <ion-text>
        <p>verpflichtend</p>
        <p>verschicken</p>
      </ion-text>
    </ion-button>
  </ion-buttons>



</ion-content>
</div>