#logoImg {
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  height: 57px;
}

img {
  height: 200px;
  padding-left: 20px;
}

ion-card {
  margin: 8%;
}

ion-button {
  --background: rgba(250,130,160,0.9);
}

.overview {
  background: rgba(245,245,246,0.9)
}