<app-menu-header></app-menu-header>
<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <img src="assets/CargoLogo.PNG" id="logoImg" (click)="navigateToHome()">
            <ion-buttons slot="primary">
                <ion-menu-button auto-hide="false"></ion-menu-button>
            </ion-buttons>

        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card>
            <ion-grid>
                <ion-row>
                    <ion-col size="3" class="overview">
                        <ion-row>
                            <ion-col>
                                <ion-text align="center">
                                    <h2><a>My</a> Buchung</h2>
                                    <p>Ihre Buchungs ID: <br>
                                        {{shipment.id}}</p>
                                    <p>Ihr Fahrzeug:<br>
                                        {{shipment.vehicle}}</p>
                                    <p>Ihr Cargonaut: <br>
                                        {{shipment.cargonaut}}</p>
                                </ion-text>
                            </ion-col>

                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text align="center">
                                    <h1>{{price}} €</h1>
                                    <p>See more</p>
                                </ion-text>
                            </ion-col>

                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item lines="none" color="rgba(245,245,246,0.9)"></ion-item>
                                <ion-item lines="none" color="rgba(245,245,246,0.9)"></ion-item>
                                <ion-item lines="none" color="rgba(245,245,246,0.9)"></ion-item>

                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text *ngIf="cargonaut" align="center">
                                    <h3>{{cargonaut.fName}} {{cargonaut.lName}}</h3>
                                    <p>{{cargonaut.rating}}</p>
                                </ion-text>

                            </ion-col>

                        </ion-row>
                    </ion-col>


                    <ion-col align="center">
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col>
                                <img id="celebration" src="assets/img/celebration.gif">
                            </ion-col>
                            <ion-col></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text align="center">
                                    <h1>Vielen Dank für Ihre Buchung!</h1>
                                    <p>Ihr Cargonaut wird über ihre Buchung informiert, wir wünschen ihnen eine angehneme Erfahrung. Wenn ihre Buchung vollendet wurde <br> lassen
                                    sie ihrem Cargonauten gerne eine Review um andere darüber zu informieren wie dieser Cargonaut einzuschätzen ist <br>
                                    My Cargonaut trägt keine Verantwortung für beschädigte Ware. Für Risiken und Nebenwirkungen Fragen sie ihren Arzt oder Apotheker
                                    </p>
                                </ion-text>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item lines="none"></ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-button size="large" (click)="navigateToHome()">Weitere Fahrten Entdecken</ion-button>
                            </ion-col>
                            <ion-col></ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
            </ion-card>
    </ion-content>
</div>
