#logoImg {
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  height: 57px;
}

img {
  height: 200px;
  padding-left: 20px;
}

ion-card {
  margin: 8%;
}

ion-button {
  --background: #025C53;
}

.overview {
  background: rgba(245,245,246,0.9)
}

h1{
  color: #025C53;
  font-family: 'Leckerli One', cursive;
}

a{
  color: #025C53;
  font-family: 'Leckerli One', cursive;
}
