<ion-header>
    <ion-toolbar>
        <img src="assets/CargoLogo.PNG">
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="heading">
            <ion-col size="2"></ion-col>
            <ion-col>
                <h1>Art des Transports auswählen</h1>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>

        <ion-row class="formRow">
          <form class="form" [formGroup]="validationsForm">

            <ion-row>

                <ion-col>
                  <ion-row>
                  <h3 style="opacity: revert">von:</h3>
                  </ion-row>
                  <ion-row class="formControl">
                    <ion-input type="text" required placeholder="Stadt, PLZ"></ion-input>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of VALIDATION_MESSAGES.postalCode">
                        <div class="error-message"
                             *ngIf="validationsForm.get('postalcode').hasError(validation.type) && (validationsForm.get('postalcode').dirty || validationsForm.get('postalcode').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-row>
                </ion-col>

            <ion-col>
              <ion-row>
              <h3 style="opacity: 1">nach:</h3>
              </ion-row>

              <ion-row class="formControl">
                <ion-input type="text" required placeholder="Stadt, PLZ"></ion-input>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of VALIDATION_MESSAGES.postalCode">
                    <div class="error-message"
                         *ngIf="validationsForm.get('postalcode').hasError(validation.type) && (validationsForm.get('postalcode').dirty || validationsForm.get('postalcode').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-row>
            </ion-col>

          </ion-row>

            <ion-row>
              <ion-col>
                <ion-row>
                  <h3 style="opacity: 1">Zu liefernder Artikel:</h3>
                </ion-row>

                <ion-row class="formControl">
                  <ion-input type="text" required placeholder="Piano, Tisch, Eurpalette... etc."></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.postalCode">
                      <div class="error-message"
                           *ngIf="validationsForm.get('postalcode').hasError(validation.type) && (validationsForm.get('postalcode').dirty || validationsForm.get('postalcode').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-row>
                  <h3 opacity="1">Gewicht der Lieferung:</h3>
                </ion-row>

                <ion-row class="formControl">
                  <ion-select placeholder="Gewicht in kg">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                  </ion-select>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>

              <ion-col>
                <ion-row>
                  <h3 style="opacity: revert">Maße der Lieferung</h3>
                </ion-row>

                <ion-row>
                <ion-col class="formControl">
                  <ion-input type="text" required placeholder="Höhe"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.postalCode">
                      <div class="error-message"
                           *ngIf="validationsForm.get('postalcode').hasError(validation.type) && (validationsForm.get('postalcode').dirty || validationsForm.get('postalcode').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

                </ion-col>

                  <ion-col class="formControl">
                    <ion-input type="text" required placeholder="Breite"></ion-input>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of VALIDATION_MESSAGES.postalCode">
                        <div class="error-message"
                             *ngIf="validationsForm.get('postalcode').hasError(validation.type) && (validationsForm.get('postalcode').dirty || validationsForm.get('postalcode').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>

              </ion-col>


            </ion-row>

            <ion-row>

              <ion-col>
                <ion-label class="text">zerbrechlich</ion-label>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-col>

              <ion-col>
                <ion-label class="text">stapelbar</ion-label>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-col>

            </ion-row>
          </form>
        </ion-row>

        <ion-row>
            <ion-col size="5"></ion-col>
            <ion-col size="2">
                <ion-button expand="block">Cargonaut finden!</ion-button>
            </ion-col>
            <ion-col size="4"></ion-col>
        </ion-row>


    </ion-grid>
</ion-content>
