<ion-header>
  <ion-toolbar>
    <ion-title>Edit Vehicle: {{licensePlate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-align-self-center>
  <ion-item>
    <ion-input type="text" placeholder="Kennzeichen"  [(ngModel)]="licensePlate" readonly ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text"placeholder="Fahrzeugmodell" required [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Aktuelle Ladung" [(ngModel)]="load"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Maximal Ladung" [(ngModel)]="maxLoad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Volumen" [(ngModel)]="volume"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Freie Plätze"  [(ngModel)]="seats"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" placeholder="Maximal Plätze"  [(ngModel)]="maxSeats"></ion-input>
  </ion-item>

  <ion-button color="success" (click)="saveModal()" >save</ion-button>
  <ion-button color="danger" (click)="dismissModal()">cancel</ion-button>
</ion-content>
