<ion-menu
        side="end"
        menuId="first"
        contentId="main-content"
>

  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToProfile()">Profil</ion-item>
      <ion-item >Sendungen</ion-item>
      <ion-item (click)="navigateToMangeVehicle()" >Fahrzeuge</ion-item>
      <ion-item (click)="navigateToRouteSearch()"  >Routensuche</ion-item>
      <ion-item (click)="navigateToTransportSearch()" >Transportsuche</ion-item>
      <ion-item (click)="navigateToSearchResult()">Suchergebnisse</ion-item>
      <ion-item><ion-button (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
      <img src="assets/CargoLogo.PNG" (click)="navigateToHome()">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-menu-button auto-hide="false" slot="end" class="headerText"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col class="regForm" size="4">
            <form class="form" [formGroup]="validationsForm" (ngSubmit)="updateProfile(validationsForm.value)">

              <h1 class="ion-text-center">MyProfil</h1>

              <ion-row class="side">
                <ion-col>
                  <ion-item lines="none">
                    <ion-select  formControlName="title" class="form-control" placeholder="Anrede">
                      <ion-select-option value="Herr">Herr</ion-select-option>
                      <ion-select-option value="Frau">Frau</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>


              <ion-row class="side">
                <ion-col>
                  <ion-item lines="none">
                    <ion-input type="text" formControlName="fname" class="form-control" required placeholder="Vorname"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.fname">
                      <div class="error-message"
                           *ngIf="validationsForm.get('fname').hasError(validation.type) && (validationsForm.get('fname').dirty || validationsForm.get('fname').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="side">
                <ion-col>
                  <ion-item lines="none">
                    <ion-input  type="text" formControlName="lname" class="form-control" required placeholder="Nachname"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.lname">
                      <div class="error-message"
                           *ngIf="validationsForm.get('lname').hasError(validation.type) && (validationsForm.get('lname').dirty || validationsForm.get('lname').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="side">
                <ion-col size="9">
                  <ion-item lines="none">
                    <ion-input  type="text" formControlName="street" class="form-control" required placeholder="Straße"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.street">
                      <div class="error-message"
                           *ngIf="validationsForm.get('street').hasError(validation.type) && (validationsForm.get('street').dirty || validationsForm.get('street').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="3">
                  <ion-item lines="none">
                    <ion-input  type="number" formControlName="housenumber" class="form-control" required placeholder="Nr."></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.housenumber">
                      <div class="error-message"
                           *ngIf="validationsForm.get('housenumber').hasError(validation.type) && (validationsForm.get('housenumber').dirty || validationsForm.get('housenumber').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="side">
                <ion-col size="4">
                  <ion-item lines="none">
                    <ion-input  type="number" formControlName="postalcode" class="form-control" required placeholder="Postleitzahl"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.postalcode">
                      <div class="error-message"
                           *ngIf="validationsForm.get('postalcode').hasError(validation.type) && (validationsForm.get('postalcode').dirty || validationsForm.get('postalcode').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="8">
                  <ion-item lines="none">
                    <ion-input  type="text" formControlName="city" class="form-control" required placeholder="Stadt"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.city">
                      <div class="error-message"
                           *ngIf="validationsForm.get('city').hasError(validation.type) && (validationsForm.get('city').dirty || validationsForm.get('city').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="side">
                <ion-col>
                  <ion-item lines="none">
                    <ion-input  type="text" formControlName="email" class="form-control" required placeholder="Email"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.email">
                      <div class="error-message"
                           *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="side">
                <ion-col>
                  <ion-item lines="none">
                    <ion-input type="password" formControlName="password" class="form-control" placeholder="Passwort"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of VALIDATION_MESSAGES.password">
                      <div class="error-message"
                           *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>


              <ion-row class="ion-text-center">
                <ion-col>
                  <ion-button type="submit" size="large" color="primary" class="submit-btn" [disabled]="!validationsForm.valid" style="margin-top: 10%">Speichern</ion-button>
                  <label class="error-message">{{errorMessage}}</label>
                  <label class="success-message">{{successMessage}}</label>
                </ion-col>
              </ion-row>

            </form>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>
</div>