<ion-menu
        side="end"
        menuId="first"
        contentId="main-content"
>

    <ion-content>
        <ion-list>
            <ion-item (click)="navigateToProfile()" button="true">
                <ion-label class="ion-text-wrap">
                    Profil
                </ion-label>
            </ion-item>
            <ion-item button="true">
                <ion-label (click)="navigateToDelivery()" class="ion-text-wrap">
                    Sendungen
                </ion-label>
            </ion-item>
            <ion-item (click)="navigateToMangeVehicle()" button="true">
                <ion-label class="ion-text-wrap">
                    Fahrzeuge
                </ion-label>
            </ion-item>
            <ion-item (click)="navigateToRouteSearch()" button="true">
                <ion-label class="ion-text-wrap">
                    Routensuche
                </ion-label>
            </ion-item>
            <ion-item (click)="navigateToTransportSearch()" button="true">
                <ion-label class="ion-text-wrap">
                    Transportsuche
                </ion-label>
            </ion-item>
            <ion-item (click)="navigateToSearchResult()" button="true">
                <ion-label class="ion-text-wrap">
                    Suchergebnisse
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-item (click)="navigateToImpressum()" button="true">
            <ion-label class="ion-text-wrap">
                Impressum
            </ion-label>
        </ion-item>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons
                    slot="end"
                    class="headerText"
                    *ngIf="!this.userService.isLoggedIn"
            >
                <ion-button (click)="navigateToLogin()">Login</ion-button>
                <ion-button (click)="navigateToRegister()">Registieren</ion-button>
            </ion-buttons>
            <ion-menu-button auto-hide="false" slot="end" class="headerText"
                             *ngIf="this.userService.isLoggedIn"></ion-menu-button>
        </ion-toolbar>
    </ion-header>


    <ion-content [fullscreen]="true" id="ion-content">
        <ion-grid>
            <ion-row class="heading">
                <ion-col size="2"></ion-col>
                <ion-col>
                    <div class="ion-text-center">
                        <h1>Verschicke alles von A nach Z</h1>
                    </div>
                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>
        </ion-grid>

        <ion-row>
            <ion-col class="optionCol" (click)="navigateToRouteSearch()">

                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h2>Verschicke dich!</h2>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <img src="assets/user.png">
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h3>Lasse dich von unseren Cagonauten transportieren</h3>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-col>

            <ion-col class="optionCol" (click)="navigateToRouteSearch()">

                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h2>Verschicke beides!</h2>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <img src="assets/Box und User.png">
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h3>Lasse dich UND deine Besitztümer von unseren Cagonauten transportieren</h3>
                        </div>
                    </ion-col>
                </ion-row>



            </ion-col>

            <ion-col class="optionCol" (click)="navigateToTransportSearch()">
                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h2>Verschicke Was!</h2>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <img src="assets/Box.png">
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h3>Lasse deine Besitztümer von unseren Cagonauten transportieren</h3>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-col>

        </ion-row>
    </ion-content>
</div>
