<ion-header [translucent]="true">
    <ion-toolbar>
            <ion-buttons slot="end" class="headerText">
                <ion-button>Login</ion-button>
                <ion-button>Registieren</ion-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

      <ion-row class="heading">
          <ion-col size="2"></ion-col>
          <ion-col>
              <h1>Verschicke alles von A nach Z</h1>
          </ion-col>
          <ion-col size="2"></ion-col>
      </ion-row>
  </ion-grid>

    <ion-row>
        <ion-col class="optionCol">

        </ion-col>
        <ion-col class="optionCol"></ion-col>
        <ion-col class="optionCol"></ion-col>
    </ion-row>
    
</ion-content>